/.idea/
/composition_summary.pyc
/dictionnary.pyc
/enrichiment_report_maker.pyc
/exon_class.pyc
/exon_set_class.pyc
/frequence_recap_graphics/demarche.txt
/frequence_recap_graphics/getting_ace_cce_info.py
/frequence_recap_graphics/result_ACE_CCE_barplot_recap.pyc
/frequence_recap_graphics/result_ACE_CCE_boxplot_recap.pyc
/frequences/
/graphic.pyc
/list_exon.pyc
/main_project.pyc
/making_recap.pyc
/nucleotides_riche_codon_ACE_CCE/ACE.pyc
/nucleotides_riche_codon_ACE_CCE/ACE_last_nt.pyc
/nucleotides_riche_codon_ACE_CCE/ACE_poor.pyc
/nucleotides_riche_codon_ACE_CCE/ACE_rich.pyc
/nucleotides_riche_codon_ACE_CCE/CCE.pyc
/nucleotides_riche_codon_ACE_CCE/CCE_last_nt.pyc
/nucleotides_riche_codon_ACE_CCE/CCE_poor.pyc
/nucleotides_riche_codon_ACE_CCE/CCE_rich.pyc
/nucleotides_riche_codon_ACE_CCE/demarche.txt
/nucleotides_riche_codon_ACE_CCE/query_results.xlsx
nucleotides_riche_codon_ACE_CCE/ACE_only.pyc
nucleotides_riche_codon_ACE_CCE/CCE_only.pyc

