.command_2018_04_05.sh.swp
command_2018_04_05.sh
command_dependant_feature_enrichment.sh
command_dinucleotides.sh
command_dinucleotides_AC_TC.sh
command_new_value4nucleotide_random_fasta_v05.sh
command_v04.sh
command_v05.sh
old_command_v0.4.md
old_command_v0.5.md
old_command_v03.md
result_complete/
result_hyper_old/
src/__pycache__/
src/control_dic_old/
.idea/*
src/*.pyc
src/control_dic/*
src/CCE_reading_frame.csv
